<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{template/table-template}">
<div layout:fragment="table-header">
    <th th:text="#{asset.id}">Asset Id</th>
    <th th:text="#{asset.serialNumber}">Serial Number</th>
    <th th:text="#{event}">Event</th>
    <th th:text="#{date}">Date</th>
    <th th:text="#{login.name}">Login Name</th>
</div>
</html>