<div xmlns:th="http://www.thymeleaf.org" th:fragment="init-table">
    <script th:src="@{/js/Table.js}"></script>
    <script type="text/javascript" th:inline="javascript">

        //Table fields will used for each model
        var asset = {
            'Asset': ['id', 'deviceModel.deviceType.type',
                'deviceModel.deviceBrand.brand', 'serialNumber', 'inventoryNumber', 'status']
        };
        var deviceBrand = {'DeviceBrand': ['brand']};
        var deviceModel = {'DeviceModel': ['model', 'deviceType.type', 'deviceBrand.brand', 'itemNumber']};
        var deviceType = {'DeviceType': ['type']};
        var costCenter = {'CostCenter': ['number', 'description']};
        var employee = {'Employee': ['firstName', 'lastName', 'middleName', 'position', 'costCenter.number']};
        var invoice = {'Invoice': ['id', 'date', 'status', 'issuer.loginName']};
        var tracking = {'Tracking': ['asset.id', 'asset.serialNumber', 'event', 'date', 'issuer.loginName']};

        //define class and fields for table
        var className = [[${object}]];
        var variable = className.charAt(0).toLowerCase() + className.slice(1);
        var currentData = window[variable];
        var data = {};
        data.obj = className;
        data.fields = currentData[className];
        var cols = [];
        $.each(currentData[className], function (i, val) {
            cols[i] = {'data': val};
        });
        $(document).ready(function () {
            var table = Table(data, cols);
            table.init();
            table.locate("/" + className.toLowerCase() + "/");
        });
    </script>
</div>
