<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{template/template}">
<div layout:fragment="content">
    <h3 th:text="#{brand.header}">Device Brand</h3>
    <hr>
    <div class="col-md-6">
        <form id="form" th:object="${deviceBrand}" th:action="${flowExecutionUrl}" method="post">
            <div class="radio">
                <label><input type="radio" name="exists" value="true" checked="checked"
                              th:text="#{choose.exist}"/></label>
            </div>
            <div>
                <select th:field="*{brand}" id="form-select" class="form-control">
                    <option th:each="brand : ${deviceBrandList}" th:value="${brand.brand}"
                            th:text="${brand.brand}"></option>
                </select>
            </div>
            <div class="radio">
                <label><input type="radio" name="exists" value="false" th:text="#{create.new}"/></label>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('brand')} ? 'has-error'">
                <input type="text" name="brand" class="form-control" id="new-input" disabled="disabled"/>
                <p th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="text-danger"></p>
            </div>
            <div class="btn-group">
                <!--<input type="hidden" name="_flowExecutionKey" value="${flowExecutionKey}">-->
                <button class="btn btn-default" name="_eventId_cancel">
                    <i class="fa fa-ban">&nbsp;</i><span th:text="#{button.cancel}" th:remove="tag">Cancel</span>
                </button>
                <button class="btn btn-default" type="submit" name="_eventId_next">
                    <i class="fa fa-arrow-right"></i>&nbsp;<span  th:text="#{button.next}" th:remove="tag">Next</span>
                </button>
            </div>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/flows/model.js}"></script>
</th:block>
</html>