<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{template/template}">
<div layout:fragment="content">
    <h3 th:text="#{model.header}">Device Model</h3>
    <hr>
    <p class="form-header bg-info" th:text="#{in.use} + ' ' + ${quantity}"></p>
    <form action="/devicemodel" th:action="@{/devicemodel}" method="POST" th:object="${deviceModel}"
          class="form-horizontal">
        <div class="form-group">
            <label th:for="deviceType.type" th:text="#{deviceType.type}" class="control-label col-sm-2"></label>
            <div class="col-sm-7">
                <input type="text" th:disabled="disabled" th:field="*{deviceType.type}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label th:for="deviceBrand.brand" th:text="#{deviceBrand.brand}" class="control-label col-sm-2"></label>
            <div class="col-sm-7">
                <input type="text" th:field="*{deviceBrand.brand}" th:disabled="disabled" class="form-control">
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('model')} ? 'has-error'">
            <label th:for="model" th:text="#{deviceModel.model}" class="col-sm-2 control-label"></label>
            <div class="col-sm-7">
                <input type="text" th:field="*{model}" class="form-control"/>
                <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger"></p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('itemNumber')} ? 'has-error'">
            <label th:for="model" th:text="#{deviceModel.itemNumber}" class="col-sm-2 control-label"></label>
            <div class="col-sm-7">
                <input type="text" th:field="*{itemNumber}" class="form-control"/>
                <p th:if="${#fields.hasErrors('itemNumber')}" th:errors="*{itemNumber}" class="text-danger"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 btn-group">
                <a th:href="@{/devicemodel/{id}/delete(id=${deviceModel.id})}" class="btn btn-default">
                    &nbsp;<i class="fa fa-trash-o"></i>
                    <span th:text="#{button.delete}" th:remove="tag">Delete</span>
                </a>
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-floppy-o"></i>&nbsp;<span th:text="#{button.save}" th:remove="tag">Save</span>
                </button>
            </div>
        </div>
    </form>
</div>
</html>